.navbar {
  background-color: @light-green;
  color: @green;

  .navbar-brand {
    .serif-font();
    color: @green;

    .blue {
      color: @blue;
    }
  }

  &.navbar-default {
    .navbar-nav {
      li {
        a {
          color: green;
        }
      }
    }
  }
}