@import "mixins.less";

@navbarHeight: unit(92, px);

.scheduler {
  .groups {
    .home {
      .workflow-select {
        .i-am-a(@navbarHeight);
      }
    }

    .list {
      .full-screen-with-background-color(@white, @navbarHeight);
      font-size: 1.25em;

      .group-listing {
        border-bottom: 5px #cccccc solid;
        padding: 0.25em;
      }
    }

    .manage {
      .full-screen-with-background-color(@white, @navbarHeight);

      .header {
        .breadcrumb {
          margin-bottom: 1em;
        }
      }

      .form-group {
        width: calc(~"100% - 2em");
        padding: 0 1em;

        .form-control {
          font-size: 1em;
          height: auto;
        }
      }

      .pager {
        margin: 1em 0;

        &-right{
          float: right;
          margin-right: 3em;
        }

        &-left{
          float: left;
          margin-left: 3em;
        }
      }
    }
  }
}