<div class="row persona-chooser text-center">
  <div class="iama-label col-xs-12">
    <span class="blue">I am a...</span>
  </div>
  <div class="iama row col-xs-12">
    <button class="btn btn-default btn-large btn-primary col-xs-6 col-xs-offset-3" ui-sref="persona.map({persona: 'scheduler'})" role="button">Scheduler</button>
  </div>
  <div class="iama row col-xs-12">
    <button class="btn btn-default btn-large btn-primary col-xs-6 col-xs-offset-3" ui-sref="persona.map({persona: 'guide'})" role="button">Guide</button>
  </div>
  <div class="iama row col-xs-12">
    <button class="btn btn-default btn-large btn-primary col-xs-6 col-xs-offset-3 disable" ui-sref="persona.map({persona: 'chaperone'})" role="button">Chaperone</button>
  </div>
</div>