<div class="row persona-chooser text-center">
  <div class="selection-label col-xs-12">
    <span class="blue">i</span> am a...
  </div>
  <div class="persona row col-xs-12">
    <button class="btn btn-default btn-large btn-primary col-xs-6 col-xs-offset-3" ui-sref="scheduler.home" role="button">Scheduler</button>
  </div>
  <div class="persona row col-xs-12">
    <button class="btn btn-default btn-large btn-primary col-xs-6 col-xs-offset-3" ui-sref="guide.home" role="button">Guide</button>
  </div>
  <div class="persona row col-xs-12">
    <button class="btn btn-default btn-large btn-primary col-xs-6 col-xs-offset-3 disable" ui-sref="chaperone.home" role="button">Chaperone</button>
  </div>
</div>