<div class="home">
  <div class="row workflow-select text-center">
    <div class="iama-label col-xs-12">
      <span class="blue">I'd like to...</span>
    </div>
    <div class="iama row col-xs-12">
      <button class="btn btn-default btn-large btn-primary col-xs-8 col-xs-offset-2" ui-sref="scheduler.groups.new"
              role="button">Add a new group
      </button>
    </div>
    <div class="iama row col-xs-12">
      <button class="btn btn-default btn-large btn-primary col-xs-8 col-xs-offset-2" ui-sref="scheduler.groups.list" role="button">
        Modify a Group
      </button>
    </div>
  </div>
</div>