<div class="home">
  <div class="row workflow-select text-center">
    <div class="iama-label col-xs-12">
      <span class="blue">I'd like to...</span>
    </div>
    <div class="iama row col-xs-12">
      <button class="btn btn-default btn-large btn-primary col-xs-8 col-xs-offset-2" ui-sref="^.new" role="button">
        Add a new group
      </button>
    </div>
    <div class="iama row col-xs-12">
      <button class="btn btn-default btn-large btn-primary col-xs-8 col-xs-offset-2" ui-sref="^.list" role="button">
        Modify a Group
      </button>
    </div>
  </div>
</div>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 272.9 521.8" enable-background="new 0 0 272.9 521.8" xml:space="preserve">
<g>
	<defs>
		<polygon id="SVGID_1_" points="256.9,371 256.9,398.9 180.2,398.9 180.2,382.4 217.6,382.4 217.6,371 		"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_2_)">
		<defs>
			<rect id="SVGID_3_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<clipPath id="SVGID_4_">
			<use xlink:href="#SVGID_3_"  overflow="visible"/>
		</clipPath>
		<rect x="175.2" y="366" opacity="0.4" clip-path="url(#SVGID_4_)" fill="#7CC142" width="86.8" height="37.8"/>
	</g>
</g>
<g>
	<defs>
		<polygon id="SVGID_5_" points="162.9,401.5 64.7,401.5 64.7,503.8 238.8,503.8 238.8,401.5 176.1,401.5 176.1,401.7 238.8,401.7
			238.8,474.3 98.9,474.3 98.9,401.7 162.9,401.7 		"/>
	</defs>
	<clipPath id="SVGID_6_">
		<use xlink:href="#SVGID_5_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_6_)">
		<defs>
			<rect id="SVGID_7_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<clipPath id="SVGID_8_">
			<use xlink:href="#SVGID_7_"  overflow="visible"/>
		</clipPath>
		<rect x="59.7" y="396.5" opacity="0.4" clip-path="url(#SVGID_8_)" fill="#7CC142" width="184.1" height="112.3"/>
	</g>
</g>
<g>
	<defs>
		<rect id="SVGID_9_" x="16.2" y="15.8" width="199.1" height="49.6"/>
	</defs>
	<clipPath id="SVGID_10_">
		<use xlink:href="#SVGID_9_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_10_)">
		<defs>
			<rect id="SVGID_11_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<clipPath id="SVGID_12_">
			<use xlink:href="#SVGID_11_"  overflow="visible"/>
		</clipPath>
		<rect x="11.2" y="10.8" opacity="0.4" clip-path="url(#SVGID_12_)" fill="#7CC142" width="209.1" height="59.6"/>
	</g>
</g>
<g>
	<defs>
		<polygon id="SVGID_13_" points="177.2,380.1 215.3,380.1 215.3,75.4 148.2,75.4 148.2,348.8 119.3,348.8 119.3,220.1 119.3,215.5
			101.3,215.5 101.3,200 119.3,200 119.3,150.4 101.3,150.4 101.3,135 119.3,135 119.3,85.4 17.2,85.4 17.2,135 34.2,135
			34.2,150.4 17.2,150.4 17.2,200 34.2,200 34.2,215.5 17.2,215.5 17.2,265.1 52.2,265.1 52.2,294.3 17.2,294.3 17.2,380.7
			52.2,380.7 52.2,381 119.3,381 119.3,363.1 148.2,363.1 148.2,380.1 164.2,380.1 164.2,425.9 177.2,425.9 		"/>
	</defs>
	<use xlink:href="#SVGID_13_"  overflow="visible" fill-rule="evenodd" clip-rule="evenodd" fill="#3FA4A8"/>
	<clipPath id="SVGID_14_">
		<use xlink:href="#SVGID_13_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_14_)">
		<defs>
			<rect id="SVGID_15_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<use xlink:href="#SVGID_15_"  overflow="visible" fill="#3FA4A8"/>
		<clipPath id="SVGID_16_">
			<use xlink:href="#SVGID_15_"  overflow="visible"/>
		</clipPath>
		<rect x="12.2" y="70.4" opacity="0.3" clip-path="url(#SVGID_16_)" fill="#3FA4A8" width="208.1" height="360.5"/>
	</g>
</g>
<g>
	<defs>
		<rect id="SVGID_17_" x="17.2" y="85.4" width="102" height="49.6"/>
	</defs>
	<clipPath id="SVGID_18_">
		<use xlink:href="#SVGID_17_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_18_)">
		<defs>
			<rect id="SVGID_19_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<clipPath id="SVGID_20_">
			<use xlink:href="#SVGID_19_"  overflow="visible"/>
		</clipPath>
		<rect x="12.2" y="80.4" clip-path="url(#SVGID_20_)" fill="#006572" width="112" height="59.6"/>
	</g>
</g>
<g>
	<defs>
		<rect id="SVGID_21_" x="148.2" y="75.4" width="67.1" height="189.4"/>
	</defs>
	<clipPath id="SVGID_22_">
		<use xlink:href="#SVGID_21_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_22_)">
		<defs>
			<rect id="SVGID_23_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<clipPath id="SVGID_24_">
			<use xlink:href="#SVGID_23_"  overflow="visible"/>
		</clipPath>
		<rect x="143.2" y="70.4" clip-path="url(#SVGID_24_)" fill="#006572" width="77.1" height="199.4"/>
	</g>
</g>
<g>
	<defs>
		<rect id="SVGID_25_" x="17.2" y="150.3" width="68" height="49.6"/>
	</defs>
	<clipPath id="SVGID_26_">
		<use xlink:href="#SVGID_25_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_26_)">
		<defs>
			<rect id="SVGID_27_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<clipPath id="SVGID_28_">
			<use xlink:href="#SVGID_27_"  overflow="visible"/>
		</clipPath>
		<rect x="12.2" y="145.3" clip-path="url(#SVGID_28_)" fill="#006572" width="78" height="59.6"/>
	</g>
</g>
<g>
	<defs>
		<rect id="SVGID_29_" x="17.2" y="215.6" width="68" height="49.6"/>
	</defs>
	<clipPath id="SVGID_30_">
		<use xlink:href="#SVGID_29_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_30_)">
		<defs>
			<rect id="SVGID_31_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<clipPath id="SVGID_32_">
			<use xlink:href="#SVGID_31_"  overflow="visible"/>
		</clipPath>
		<rect x="12.2" y="210.6" clip-path="url(#SVGID_32_)" fill="#FF7F8E" width="78" height="59.6"/>
	</g>
</g>
<g>
	<defs>
		<polygon id="SVGID_33_" points="85.2,363.2 85.2,294.2 17.2,294.2 17.2,380.8 85.2,380.8 85.2,380.8 118.9,380.8 118.9,363.2
			"/>
	</defs>
	<clipPath id="SVGID_34_">
		<use xlink:href="#SVGID_33_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_34_)">
		<defs>
			<rect id="SVGID_35_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<clipPath id="SVGID_36_">
			<use xlink:href="#SVGID_35_"  overflow="visible"/>
		</clipPath>
		<rect x="12.2" y="289.2" clip-path="url(#SVGID_36_)" fill="#006572" width="111.8" height="96.6"/>
	</g>
</g>
<g>
	<defs>
		<rect id="SVGID_37_" x="101.2" y="150.6" width="18.1" height="49.6"/>
	</defs>
	<clipPath id="SVGID_38_">
		<use xlink:href="#SVGID_37_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_38_)">
		<defs>
			<rect id="SVGID_39_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<clipPath id="SVGID_40_">
			<use xlink:href="#SVGID_39_"  overflow="visible"/>
		</clipPath>
		<rect x="96.2" y="145.6" clip-path="url(#SVGID_40_)" fill="#006572" width="28.1" height="59.6"/>
	</g>
</g>
<g>
	<defs>
		<rect id="SVGID_41_" x="101.2" y="215.6" width="18.1" height="49.6"/>
	</defs>
	<clipPath id="SVGID_42_">
		<use xlink:href="#SVGID_41_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_42_)">
		<defs>
			<rect id="SVGID_43_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<clipPath id="SVGID_44_">
			<use xlink:href="#SVGID_43_"  overflow="visible"/>
		</clipPath>
		<rect x="96.2" y="210.6" clip-path="url(#SVGID_44_)" fill="#006572" width="28.1" height="59.6"/>
	</g>
</g>
<g>
	<defs>
		<rect id="SVGID_45_" x="101.2" y="294.2" width="18.1" height="54.6"/>
	</defs>
	<clipPath id="SVGID_46_">
		<use xlink:href="#SVGID_45_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_46_)">
		<defs>
			<rect id="SVGID_47_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<clipPath id="SVGID_48_">
			<use xlink:href="#SVGID_47_"  overflow="visible"/>
		</clipPath>
		<rect x="96.2" y="289.2" clip-path="url(#SVGID_48_)" fill="#006572" width="28.1" height="64.6"/>
	</g>
</g>
<g>
	<defs>
		<rect id="SVGID_49_" x="101.3" y="401.9" width="137.5" height="70.3"/>
	</defs>
	<clipPath id="SVGID_50_">
		<use xlink:href="#SVGID_49_"  overflow="visible"/>
	</clipPath>
	<g clip-path="url(#SVGID_50_)">
		<defs>
			<rect id="SVGID_51_" x="16.2" y="15.8" width="241" height="488"/>
		</defs>
		<clipPath id="SVGID_52_">
			<use xlink:href="#SVGID_51_"  overflow="visible"/>
		</clipPath>
		<rect x="96.3" y="396.9" clip-path="url(#SVGID_52_)" fill="#006572" width="147.5" height="80.3"/>
	</g>
</g>
<text transform="matrix(1 0 0 1 24.1765 33.7815)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">OUTDOOR </tspan><tspan x="54.1" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">P</tspan><tspan x="59.8" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">ATIO</tspan></text>
<text transform="matrix(1 0 0 1 154.1765 117.9814)" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">THE BIG </text>
<text transform="matrix(1 0 0 1 154.1765 128.1811)" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">RED </text>
<text transform="matrix(1 0 0 1 154.1765 138.3819)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">R</tspan><tspan x="6.3" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">OOM </tspan></text>
<text transform="matrix(1 0 0 1 154.1765 148.5817)" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">CAFE</text>
<text transform="matrix(1 0 0 1 154.1765 88.9813)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">P</tspan><tspan x="5.7" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">ATIO</tspan></text>
<text transform="matrix(1 0 0 1 21.1765 98.5996)" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">CHANGING</text>
<text transform="matrix(1 0 0 1 21.1765 108.7994)" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">EXHIBIT</text>
<text transform="matrix(1 0 0 1 21.1765 162.9814)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">G</tspan><tspan x="7.2" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">ARAGE</tspan></text>
<text transform="matrix(1 0 0 1 104.1765 162.9814)" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">A1</text>
<text transform="matrix(1 0 0 1 104.1765 227.9814)" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">A2</text>
<text transform="matrix(1 0 0 1 104.1765 307.9813)" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">LB</text>
<text transform="matrix(1 0 0 1 21.1765 227.9814)" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">ATTIC</text>
<text transform="matrix(1 0 0 1 21.1765 307.9813)" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">MAKESHOP</text>
<text transform="matrix(1 0 0 1 154.1765 278.9813)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">L</tspan><tspan x="4.9" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">OB</tspan><tspan x="19.6" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">B</tspan><tspan x="26" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">Y</tspan></text>
<text transform="matrix(1 0 0 1 107.1765 416.8018)" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">STUDIO</text>
<text transform="matrix(1 0 0 1 75.1765 493.1766)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">B</tspan><tspan x="6.5" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">ACK</tspan><tspan x="26.9" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">Y</tspan><tspan x="32.6" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">ARD</tspan></text>
<text transform="matrix(1 0 0 1 184.1765 394.4813)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">G</tspan><tspan x="7.2" y="0" fill="#FFFFFF" font-family="'Lato-Bold'" font-size="10">ARDEN</tspan></text>
<line fill="none" stroke="#208C89" stroke-linecap="square" stroke-miterlimit="10" stroke-dasharray="3,3,3,3" x1="149.7" y1="102.3" x2="214.8" y2="102.3"/>
</svg>